[Desktop Entry]
Name=YouTube Music Desktop App
Comment=YouTube Music Desktop App
GenericName=YouTube Music Desktop App
Exec=/home/mrlemon/.local/bin/qs-ytmd %U
Icon=youtube-music-desktop-app
Type=Application
StartupNotify=true
Categories=AudioVideo;Audio;
MimeType=x-scheme-handler/ytmd;
